﻿@model FinalExam.ViewModels.CommentModel

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComment" asp-route-institutionId="@Model.InstitutionId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group rating">
                <label>
                    <input type="radio" asp-for="Rating" value="1" />
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                        <input type="radio" asp-for="Rating" value="2" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                        <input type="radio" asp-for="Rating" value="3" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                        <input type="radio" asp-for="Rating" value="4" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                        <input type="radio" asp-for="Rating" value="5" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
