﻿@model FinalExam.ViewModels.IstitutionModel

@{
    ViewData["Title"] = "CreateInstitution";
}

<h2>Create Cafe</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateInstitution" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainPhoto" class="control-label">Фото</label>
                <input class="form-control" type="file" name="MainPhoto" accept="image/*" required="required"/>
                <span class="text-danger field-validation-valid" data-valmsg-for="MainPhoto" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

