﻿@model FinalExam.ViewModels.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>All places</h1>
<br/>
<div class="row">
    @foreach (var m in Model.Institutions)
    {
        <div class="col-md-3">
            <div class="card" style="width: 100%">
                <a class="card-link" asp-action="Info" asp-route-institutionId="@m.Id">
                    <img class="card-img-top" src="~/@m.PhotoPath" alt="Card image cap" style="width: 100%; height:150px;">
                </a>
                <div class="card-body">
                    <h2 class="card-title"><a class="card-link" asp-action="Info" asp-route-institutionId="@m.Id">@m.Name</a></h2>
                    <h6 class="card-subtitle mb-2 text-muted">Photos @m.PhotoCount</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Comments @m.CommentCount</h6>
                    <p class="card-text">
                        @{
                            for (int i = 1; i <= 5; i++)
                            {
                                if (m.Rating >= i)
                                {
                                    <span class="fa fa-star" style="color: orange;"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-search="@Model.Search"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-search="@Model.Search"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
    Вперед
    <i class="glyphicon glyphicon-chevron-right"></i></a>
}