﻿@using System.IO.Compression
@using FinalExam.ViewModels
@model FinalExam.ViewModels.InfoModel

@{
    ViewData["Title"] = "Info";
}


<div class="row">
    <div class="col-md-6">
        <h1>@Model.Institution.Name</h1>
        <p>@Model.Institution.Description</p>
    </div>
    <div class="col-md-6">
        <img src="~/@Model.Institution.PhotoPath" id="img" style="width: 100%">
    </div>
</div>
<h2>Gallery</h2>
<div class="row">
    @foreach (var photo in Model.Pictures)
    {
        <div class="col-md-2">
            <img src="~/@photo.Path" id="img" style="width: 100%">
        </div>
    }
</div>
<hr/>
<p>Rating @{
              for (int i = 1; i <= 5; i++)
              {
                  if (Model.Institution.Rating >= i)
                  {
                      <span class="fa fa-star" style="color: orange;"></span>
                  }
                  else
                  {
                      <span class="fa fa-star"></span>
                  }
              }
          }</p>
<hr />
<h2>Rewiews</h2>
@foreach (var commet in Model.Comments)
{
    if (Model.Email.Equals(commet.User.UserName))
    {
        <h5>On @commet.Date.ToString("yy-MM-dd"), @commet.User.UserName <a asp-action="DeleteComment"
                                                                           asp-route-institutionId="@Model.Institution.Id" asp-route-commentId="@commet.Id"><i class="fas fa-trash-alt"></i></a></h5>
        <p>@commet.Content</p>
        <p>@{
               for (int i = 1; i <= 5; i++)
               {
                   if (commet.Rating >= i)
                   {
                       <span class="fa fa-star" style="color: orange;"></span>
                   }
                   else
                   {
                       <span class="fa fa-star"></span>
                   }
               }
           }</p>
    }
    else
    {
        <h5>On @commet.Date.ToString("yy-MM-dd"), @commet.User.UserName</h5>
        <p>@commet.Content</p>
        <p>@{
               for (int i = 1; i <= 5; i++)
               {
                   if (commet.Rating >= i)
                   {
                       <span class="fa fa-star" style="color: orange;"></span>
                   }
                   else
                   {
                       <span class="fa fa-star"></span>
                   }
               }
           }</p>
    }
}

@if (!Model.IsCommented)
{
    <div>
        @Html.Partial("AddComment", new CommentModel(){ InstitutionId = Model.Institution.Id})
    </div>
}


<hr/>
@if (User.Identity.IsAuthenticated)
{
    <h2>Upload new photo</h2>
    <form   method="post" enctype="multipart/form-data" asp-action="AddPhoto"
            asp-route-InstitutionId ="@Model.Institution.Id"> 
        <div class="form-group">
            <label name="File" class="control-label">Фото</label>
            <input class="form-control" type="file" name="File" accept="image/*" />
            <span validation-for="File" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </form>
}